.img{
    height: 100px;
    width: 100px;
}

.card{
   background-color: blue;
   justify-content: center;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
   border: 12px;
   border-color: rgb(0, 0, 0);
   border-radius: 7px;
   display: block;
   visibility: visible;
   border-style: double;
}